* {
  margin: 0;
  padding: 0;
}

*,
*::after,
*::before {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a:link, a:visited {
  text-decoration: none;
}

a:hover{
  color: dodgerblue;
}

.nav {
  padding: 7px;
  margin-right: 10px;
  border-right: 1px solid black;
}

.nav-links {
  padding: 15px;
  /* width: 25%; */
  /* background-color: #f1f1f1; */
  /* height: 100%; Full height */
  /* position: fixed; Make it stick, even on scroll */
  /* overflow: auto; Enable scrolling if the sidenav has too much content */
}

.main-container {
  display: flex;
  padding: 7px;
}

.main {
  margin-left: 15px;
  padding: 10px;
}

.projects {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.project {

}

.screenshot {
  height: 60%;
  width: 60%;
}

.footer {

}