* {
  margin: 0;
  padding: 0;
}

*,
*::after,
*::before {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  background: #fafafa;
  font-family: 'Average', serif;
  font-size: 18px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

/* LINKS  */
a:link {
  text-decoration: none;
  color: #00766c;
}

a:visited {
  text-decoration: none;
}

a:hover {
  color: dodgerblue;
}

h1, h2 {
  font-family: 'Fjalla One', sans-serif;
  color: #00766c;
}

h3 {
  font-family: 'Fjalla One', sans-serif;
}

/* MAIN BODY */
.main-container {
  display: flex;
  padding: 7px;
  border-left: 17px solid #26a69a;
  /* margin: 5%; */
}

main {
  /* margin-left: 15%; */
  padding: 10px;
}

section {
  margin-top: 20px;
}

p, h3 {
  margin-bottom: 10px;
}

/* NAVIGATION  */
.sidebar {
  flex-basis: 25%;
  padding: 7px;
  /* width: 15%; */
  /* margin-left: 5%; */
  /* position: fixed; */
  /* overflow-x: hidden; */
}

.nav-list {
  margin-top: 10px;
  padding: 10px;
  /* flex: 1 1 auto; */
  font-family: 'Fjalla One', sans-serif;
  font-size: 18px;
  overflow: auto;
}

.nav-item {
  margin-bottom: 10px;
}

.intro-blurb {
  margin-top: 10px;
  max-width: 70%
}

/* PROJECTS  */

.project {
  margin-top: 20px;
  max-width: 70%;
}

span {
  font-family: 'Fjalla One', sans-serif;
}

.icon-link {
  display: inline;
}

.screenshot {
  height: 80%;
  width: 80%;
  border: 2px black solid;
  margin-bottom: 10px;
}