* {
  margin: 0;
  padding: 0;
}

*,
*::after,
*::before {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  background: #fafafa;
  font-family: 'Average', serif;
  font-size: 18px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

/* LINKS  */
a:link {
  text-decoration: none;
  color: #00766c;
}

a:visited {
  text-decoration: none;
}

a:hover {
  color: #64d8cb
}

h1, h2 {
  font-family: 'Fjalla One', sans-serif;
  color: #00766c;
}

h1 {
  font-size: 35px;
  margin-top: 10px;
}

h3 {
  font-family: 'Fjalla One', sans-serif;
}

/* MAIN BODY */
.main-container {
  display: flex;
  padding: 7px;
  border-left: 17px solid #26a69a;
}

main {
  padding: 10px;
  margin-left: 160px;
}

section {
  margin-bottom: 20px;
}

p, h3 {
  margin-bottom: 10px;
}

.front-end {
  margin-top: 10px;
}

/* NAVIGATION  */
.sidebar {
  position: fixed;
  height: 100%;
  width: 160px;
  top: 0;
  overflow-x: hidden;
  flex-basis: 25%;
  padding: 7px;
}

.nav-list {
  margin-top: 10px;
  padding: 10px;
  font-family: 'Fjalla One', sans-serif;
  font-size: 20px;
  overflow: auto;
}

.nav-item {
  margin-bottom: 10px;
}

.intro-blurb {
  margin-top: 10px;
  max-width: 70%;
  /* font-size: 20px; */
}

/* PROJECTS  */
.project {
  margin-top: 20px;
  max-width: 70%;
}

span {
  font-family: 'Fjalla One', sans-serif;
}

.icon-link {
  display: inline;
}

.screenshot {
  height: 80%;
  width: 80%;
  border: 2px black solid;
  margin-bottom: 10px;
}