/* for mobile screen */

@media screen and (max-width: 750px) {
  main {
    margin: 0;
  }

  .main-container {
    flex-direction: column;
    justify-content: center;
  }

  .sidebar {
    padding: 0;
    border-bottom: 1px solid black;
  }

  .nav-item {
    display: inline;
    margin-right: 10px;
  }

  .intro-blurb, .project {
    max-width: 100%;
  }

  .screenshots {
    height: 100%;
    width: 100%;
  }
}